<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>GIRI ... a JIRI UI</title>
  </head>
  <body>
    <h1>Welcome to Jiri UI</h1>
    <img alt="Jiří Šimša" width="200" height="200" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/074/231/29d8bfc.jpg">
    <br>

    <!-- Jiri Update Section -->
    <div id="jiri-update">
      <button v-on:click="handleJiriUpdate">
        Jiri Update
      </button>
      <div v-if="isUpdating">
        Jiri is updating
        <div>
          <pre>{{updateStatus}}</pre>
        </div>
      </div>
      <div v-if="isSuccessfulUpdate">
        Update Completed!
      </div>
      <div v-if="isFailedUpdated">
        Update Failed!
        <div>
          {{updateError}}
        </div>
      </div>
    </div>

    <!-- Jiri Project Status -->
    <div id="jiri-projects">

      <table style="width: 100%">
        <tr>
          <th>Project</th>
          <th>Path</th>
          <th>Remote</th>
        </tr>
        <tr  v-for="project in projects">
          <td>
            <span v-bind:class="{'synced': hasUpdatedSyncStatus && project.isSynced, 'not-synced': hasUpdatedSyncStatus && !project.isSynced}">
              {{project.name}}
            </span>
          </td>
          <td>
            <span v-on:click="openPathInTerminal(project.path)">{{project.path}}</span>
          </td>
          <td>
            <a target="_blank" v-bind:href="project.remote">Link</a>
          </td>
        <tr>
      </table>
    </div>
  </body>

  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
